{% if page.analytics != false %}

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_id }}"></script>

<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', "{{ site.google_analytics_id }}");
</script>

<!-- GoatCounter -->
<script data-goatcounter="https://wangye0523.goatcounter.com/count"
        async src="https://gc.zgo.at/count.js"></script>

{% endif %}
